{% extends 'base.html' %}
{% load i18n staticfiles %}

{% block head_title %}{% trans "My Projects" %}{% endblock %}

{% block nav-proj-list-class %}active{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-12 col-md-offset-4">
        <a href="{% url 'project-create' %}" class="btn btn-success float-sm-right">{% trans 'Create new Project' %}</a>
    <h2>{% trans "My Projects" %}</h2>

    <table id="project-list" class="table table-hover">
        <tbody>
            {% for project in project_list %}
            <tr onclick="document.location='{% url 'documents-list' slug=project.slug %}'" role="button">
                <td><a href="{% url 'documents-list' slug=project.slug %}">{{project.name}}</a></td>
                <td title="{% trans "Owner" %}">{{project.owner}}</td>
                <td>{% blocktrans count n=project.documents.count %}1 document.{% plural %}{{ n }} documents.{% endblocktrans %}</td>

                <td>
                {% if request.user in project.shared_with_users.all %}
                <form method="post" class="text-right" action="{% url "delete-project-share" %}" onsubmit="return confirm('{% trans "Do you really want to remove the project from your list?" %}');">{% csrf_token %}
                    <input type="hidden" name="project" value="{{project.pk}}" />
                    <button type="submit" value="" onclick='event.stopPropagation();'  class="nav-item btn btn-warning" title="{% trans 'Remove from list' %}"><i class="fas fa-trash"></i></button>
                </form>
                {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% include 'includes/pagination.html' %}
    </div>
</div>
{% endblock %}
