{% extends 'base.html' %}
{% load i18n staticfiles bootstrap %}

{% block head_title %}
{% trans "Search in projects" %}
{% endblock %}

{% block body %}
{% if DISABLE_ELASTICSEARCH %}
<div class="alert alert-danger mt-4" role="alert">
  {% trans "Search feature is deactivated on this instance." %}
</div>
<a class="btn btn-primary" href="{% url 'home' %}">Back to homepage</a>
{% else %}
<div>
  <h2>{% trans "Search text in projects" %}</h2>
  <form method="get">
    <div class="form-row">
      <div class="col-auto">{% render_field form.project group=True %}</div>
      <div class="col mt-4">{% render_field form.query group=True %}</div>
      <div class="col-auto mt-4">
        <input type="submit" value="{% trans 'Search' %}" class="btn btn-primary"></input>
      </div>
    </div>
  </form>

  <hr>

  {% if es_error %}
  <div class="alert alert-danger" role="alert">
    {% trans "Couldn't connect to ElasticSearch, please contact your instance administrator." %}
    <p class="mt-2 mb-0"><strong>{% trans "Reason:" %}</strong> {{ es_error }}</p>
  </div>
  {% elif 'query' not in request.GET %}
  <!-- No need to display anything, user must search terms -->
  {% else %}
    {% if display_right_warning %}
    <div class="alert alert-warning" role="alert">
      {% trans "You requested to search text in a project you don't have access to. Falling back to searching entered text in all of your projects." %}
    </div>
    {% endif %}

  <div class="mt-4 mb-3">
    <h4>{% trans "Results" %} ({{ page_obj.paginator.count }})</h4>
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>{% trans "Content" %}</th>
        <th>{% trans "Image preview" %}</th>
        <th>{% trans "Score" %}</th>
        <th>{% trans "View in Editor" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for content, part_pk, document_pk, score, img_url, img_w, img_h, viewbox in page_obj %}
      <tr>
        <td title="{% trans 'Line transcription enhanced content' %}">{{ content|safe }}</td>
        <td title="{% trans 'Full image cropped according to the transcription bounding box' %}">
          <svg width="100%" height="100%" viewBox="{{ viewbox }}" style="width: 50vw;">
            <image x="0" y="0" width="{{ img_w }}" height="{{ img_h }}" xlink:href="{{ img_url }}">
          </svg>
        </td>
        <td title="{% trans 'Search score' %}">{{ score }}</td>
        <td title="{% trans 'Go to document part editing page' %}">
          <a class="btn btn-primary" target="_blank" href="{% url 'document-part-edit' pk=document_pk part_pk=part_pk %}">
            <i class="fas fa-external-link-square-alt"></i>
          </a>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="4">{% trans "No results matched your search." %}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% include 'includes/pagination.html' %}
  {% endif %}
</div>
{% endif %}
{% endblock %}